<mat-form-field appearance="fill">
  <mat-label>Pesquisar livros</mat-label>
  <input matInput type="text" [(ngModel)]="searchText" (input)="searchBooks()" placeholder="Digite o título do livro">
</mat-form-field>

<div class="mat-list">
  <div class="mat-list-item" *ngFor="let book of searchResults; let i = index">
    <div class="row">
      <div class="row">
        <mat-form-field class="book-input">
          <input matInput [(ngModel)]="book.titulo" [disabled]="!book.editing">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="book-input">
          <input matInput [(ngModel)]="book.editora" [disabled]="!book.editing">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="book-input">
          <input matInput [(ngModel)]="book.numPaginas" [disabled]="!book.editing" type="number">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="book-input">
          <label>Autor</label>
          <input matInput [(ngModel)]="book.autor" [disabled]="!book.editing">
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-icon-button color="warn" (click)="deleteBook(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="row">
        <ng-container *ngIf="!book.editing">
          <button mat-icon-button color="primary" (click)="startEditing(book)">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="book.editing">
          <button mat-icon-button color="primary" (click)="confirmEditing(book)">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelEditing(book)">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
